<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <h1>Bem-Vindo ao Consulta-Sim</h1>


  <p>Aqui você pode agendar sua consulta.</p>

  <div class="container">

    <% if current_user.medico? %>
        <div class="actions">
           <a href="<%= new_paciente_path %>" class="btn"><i class="fas fa-user"></i>Cadastrar Paciente</a>
           <a href="<%= new_medico_path %>" class="btn"><i class="fas fa-user"></i>Cadastrar Médico</a>
           <a href="<%= new_exame_path %>" class="btn"><i class="fas fa-user"></i>Adicionar Exame</a>
           <a href="<%= new_prontuario_path %>" class="btn"><i class="fas fa-user"></i>Adicionar Prontuario</a>
           <a href="<%= new_prescrico_path %>" class="btn"><i class="fas fa-user"></i>Adicionar Prescrição</a>
        <div />
        <br/>
        <div class="lists">
          <a href="<%= pacientes_path %>" class="btn"><i class="fas fa-list"></i>Ver a lista de Pacientes Cadastrados</a>
          <a href="<%= medicos_path %>" class="btn"><i class="fas fa-list"></i>Ver a lista de Médicos Cadastrados</a>
        </div>

    <% elsif current_user.paciente? %>
        <div class="actions">
            <a href="<%= new_paciente_path %>" class="btn"><i class="fas fa-user"></i>Faça seu Cadastro</a>
            <%= link_to "Ver seus Exames", exames_path %>
        </div>

        <div class="lists">
            <a href="<%= medicos_path %>" class="btn"><i class="fas fa-list"></i>Ver a lista de Médicos Cadastrados</a>
        </div>
    <% end %>


  </div>

  <div class="container">
    <a href="<%= new_consulta_path %>" class="btn highlight"><i class="fas fa-calendar-plus"></i>Agende sua consulta</a>
    <a href="<%= search_consultas_path %>" class="btn highlight"><i class="fas fa-search"></i>Busque suas consultas agendadas</a>
  </div>

