  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'theme' %>

<header>
    <h1>Bem-Vindo ao ConsultaBD</h1>
    <p>Aqui você pode agendar sua consulta.</p>
</header>

<body>
<div class="container">
  <div class="actions">
    <%= link_to "Cadastrar Paciente", new_paciente_path, class: "btn" %>
    <%= link_to "Cadastrar Médico", new_medico_path, class: "btn" %>
  </div>
  <br/>
  <div class="lists">
    <%= link_to "Ver a lista de Pacientes Cadastrados", pacientes_path, class: "btn" %>
    <%= link_to "Ver a lista de Médicos Cadastrados", medicos_path, class: "btn" %>
  </div>
</div>
<div class="container">
  <%= link_to "Agende sua consulta", new_consulta_path, class: "btn highlight" %>
  <%= link_to "Busque suas consultas agendadas", consultas_path, class: "btn highlight" %>
</div>
</body>