<%= form_with(model: prescricao) do |form| %>
  <% if prescricao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prescricao.errors.count, "error") %> prohibited this prescricao from being saved:</h2>

      <ul>
        <% prescricao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cod, style: "display: block" %>
    <%= form.text_field :cod %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :dosagem, style: "display: block" %>
    <%= form.text_field :dosagem %>
  </div>

  <div>
    <%= form.label :observacoes, style: "display: block" %>
    <%= form.text_area :observacoes %>
  </div>

  <div>
    <%= form.label :listaMedicamentos, style: "display: block" %>
    <%= form.text_area :listaMedicamentos %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
