<div id="<%= dom_id prescricao %>">
  <p>
    <strong>Cod:</strong>
    <%= prescricao.cod %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= prescricao.data %>
  </p>

  <p>
    <strong>Dosagem:</strong>
    <%= prescricao.dosagem %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= prescricao.observacoes %>
  </p>

  <p>
    <strong>Listamedicamentos:</strong>
    <%= prescricao.listaMedicamentos %>
  </p>

</div>
