<h1>Prescrições</h1>

<div id="prescricoes">
  <% if notice.present? %>
    <p style="color: green;"><%= notice %></p>
  <% end %>

  <h2>Busque a prescrição pelo nome do paciente:</h2>
  <%= form_tag search_prescricoes_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Buscar" %>
  <% end %>

<% @prescricoes.each do |prescricao| %>
  <div class="prescription-card">
    <div>Data: <%= prescricao.data %></div>
    <div>Observações: <%= prescricao.observacoes %></div>
    <div>Dosagem: <%= prescricao.dosagem %></div>
    <div>Lista de Medicamentos: <%= prescricao.listaMedicamentos %></div>
    <p><%= link_to "Ver detalhes", paciente_prescrico_path(@paciente, prescricao), class: "btn" %></p>
  </div>
<% end %>
 <div class="links">
    <%= link_to "Nova Prescrição", new_paciente_prescrico_path(@paciente), class: "btn" %>
    <%= link_to "Voltar para a página principal", root_path, class: "btn" %>
  </div>
</div>
