<p style="color: green"><%= notice %></p>

<%= render partial: 'prescricoes/prescricao', locals: { prescricao: @prescricao } %>

<div class="links">
  <%= link_to "Editar essa prescrição", edit_paciente_prescrico_path(@paciente, @prescricao), class: "btn" %>
  <%= link_to "Voltar para prescrições", paciente_prescricoes_path(@paciente), class: "btn" %>

  <%= button_to "Destroy this prescricao", paciente_prescrico_path(@paciente, @prescricao), method: :delete, class: "btn" %>
</div>

