<h1>Prontu치rios</h1>

<div id="prontuarios">
  <% if notice.present? %>
    <p style="color: green;"><%= notice %></p>
  <% end %>

  <h2>Busque o prontu치rio pelo nome do paciente:</h2>
  <%= form_tag search_prontuarios_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Buscar" %>
  <% end %>

  <% @prontuarios.each do |prontuario| %>
    <div class="record-card">
      <div>Nome do paciente: <%= prontuario.paciente.nome_completo %></div>
      <div>Prontu치rio: <%= prontuario.codigo %></div>
      <p><%= link_to "Ver detalhes", paciente_prontuario_path(prontuario.paciente, prontuario), class: "btn" %></p>
    </div>
  <% end %>

  <div class="links">
    <%= link_to "Voltar para a p치gina principal", root_path, class: "btn" %>
  </div>
</div>
