<div id="<%= dom_id exame %>">
  <p>
    <strong>"Código do Exame":</strong>
    <%= exame.cod %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= exame.data %>
  </p>

  <p>
    <strong>"Nome do Exame":</strong>
    <%= exame.nomeExame %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= exame.descricao %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= exame.resultado %>
  </p>

</div>
