<div id="<%= dom_id exame %>">
  <p>
    <strong>Cod:</strong>
    <%= exame.cod %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= exame.data %>
  </p>

  <p>
    <strong>Nomeexame:</strong>
    <%= exame.nomeExame %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= exame.descricao %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= exame.resultado %>
  </p>

</div>
