<div id="<%= dom_id exame %>">
  <p>
    <strong>Cod:</strong>
    <%= exame.cod %>
  </p>

  <p>
    <%= form.label :paciente_id %>
    <%= form.collection_select :paciente_id, Paciente.all, :id, :nome_completo, prompt: "Selecione um paciente" %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= exame.data %>
  </p>

  <p>
    <strong>Nomeexame:</strong>
    <%= exame.nomeExame %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= exame.descricao %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= exame.resultado %>
  </p>

</div>
