<%= form_with(model: exame) do |form| %>
  <% if exame.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exame.errors.count, "error") %> prohibited this exame from being saved:</h2>

      <ul>
        <% exame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cod, style: "display: block" %>
    <%= form.text_field :cod %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :nomeExame, style: "display: block" %>
    <%= form.text_field :nomeExame %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :resultado, style: "display: block" %>
    <%= form.text_field :resultado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
