<%= form_with(model: @exame, url: consulta_exames_path(@consulta)) do |form| %>
  <% if exame.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exame.errors.count, "error") %> prohibited this exame from being saved:</h2>

      <ul>
        <% exame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
     <%= form.label :prontuario_id, "Prontuário:", style: "display: block" %>
     <%= form.collection_select :prontuario_id, Prontuario.all, :id, :codigo, prompt: 'Selecione um prontuário' %>
   </div>
  <div  class="field">
    <%= form.label :cod, "Código do Exame:", style: "display: block" %>
    <%= form.text_field :cod %>
  </div>

  <div  class="field">
    <%= form.label :data, "Data:", style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div  class="field">
    <%= form.label :nomeExame, "Nome do Exame:", style: "display: block" %>
    <%= form.text_field :nomeExame %>
  </div>

  <div  class="field">
    <%= form.label :descricao, "Descrição:", style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div  class="field">
    <%= form.label :resultado, "Resultado", style: "display: block" %>
    <%= form.text_field :resultado %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar Exame" %>
    <%= link_to "Voltar para a página inicial", root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
