<h1>Exames</h1>

<div id="exames">
  <% if notice.present? %>
    <p style="color: green;"><%= notice %></p>
  <% end %>

  <h2>Busque o exame pelo nome do paciente:</h2>
  <%= form_tag search_exames_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Buscar" %>
  <% end %>

  <% @exames.each do |exame| %>
    <div class="exam-card">
      <div>Nome do paciente: <%= exame.paciente.nome_completo %></div>
      <div>Exame: <%= exame.nome %></div>
      <p><%= link_to "Ver detalhes", exame, class: "btn" %></p>
    </div>
  <% end %>

  <div class="links">
    <%= link_to "Novo Exame", new_exame_path, class: "btn" %>
    <%= link_to "Voltar para a página principal", root_path, class: "btn" %>
  </div>
</div>
