  <%= form_with(model: medico, class: "medico-form") do |form| %>
    <% if medico.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(medico.errors.count, "error") %> Proibe o médico de ser salvo:</h2>
        <ul>
           <% medico.errors.each do |error| %>
            <li><%= error.full_message %></li>
           <% end %>
        </ul>
     </div>
    <% end %>

  <div class="field">
    <%= form.label :nome, "Nome do Médico:" %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :licenca, "Licença:" %>
    <%= form.text_field :licenca %>
  </div>

  
  <div class="field">
    <%= form.label :cpf, "CPF:" %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :especialidade, "Especialidade:" %>
    <%= form.text_field :especialidade %>
  </div>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>

  <!-- Campos de endereço com classes CSS -->
    <%= form.fields_for :endereco do |endereco_form| %>
      <div class="form-group">
        <%= endereco_form.label :cep, "CEP", class: "form-label" %>
        <%= endereco_form.text_field :cep, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= endereco_form.label :cidade, "Cidade", class: "form-label" %>
        <%= endereco_form.text_field :cidade, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= endereco_form.label :bairro, "Bairro", class: "form-label" %>
        <%= endereco_form.text_field :bairro, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= endereco_form.label :logradouro, "Logradouro", class: "form-label" %>
        <%= endereco_form.text_field :logradouro, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= endereco_form.label :numero, "Número", class: "form-label" %>
        <%= endereco_form.number_field :numero, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= endereco_form.label :complemento, "Complemento", class: "form-label" %>
        <%= endereco_form.text_field :complemento, class: "form-input" %>
      </div>
    <% end %>

  <div class="field">
    <%= form.label :inicio_consulta, "Início Horário de Atendimento:" %>
    <%= form.time_field :inicio_consulta %>
  </div>

  <div class="field">
    <%= form.label :termino_consulta, "Término Horário de Atendimento:" %>
    <%= form.time_field :termino_consulta %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
    <%= link_to "Voltar para a página inicial", root_path %>
  </div>
<% end %>