<%= form_with(model: consulta, url: consultas_path) do |form| %>
  <% if @consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consulta.errors.count, "error") %> prohibited this consulta from being saved:</h2>
      <ul>
        <% consulta.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medico_id, "Selecione o médico responsável:" %>
    <%= form.collection_select :medico_id, Medico.all, :id, :nome, prompt: "Selecione um médico" %>
  </div>

  <div class="field">
    <%= form.label :paciente_id, "Selecione o paciente:" %>
    <%= form.collection_select :paciente_id, Paciente.all, :id, :nome_completo, prompt: "Selecione um paciente" %>
  </div>

  <div class="field">
    <%= form.label :data, "Data da Consulta:" %>
    <%= form.date_field :data, start_year: 2023, end_year: 2030 %>
  </div>

  <div class="field">
    <%= form.label :horario, "Horário da Consulta: " %>
    <%= form.time_select :horario %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Adicione uma descrição da consulta:" %>
    <%= form.text_area :descricao %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
    <%= link_to "Voltar para a página inicial", root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
